<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Legend of Nelda Game</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <section class="hero">
        <div class="main-width">
            <header>
                <img src="../img/Nelda.png" alt="Legend of Zelda Logo" width="270px" height="112px">
                    <nav>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/login">Log In</a></li>
                            <li><a href="/signup">Sign Up!</a></li>
                        </ul>
                    </nav>
            </header>
        </div>

    <section class="game">
        <canvas id="gameCanvas"></canvas>
    </section>

    <section class="menu-bar">
        <div class="text">
            <p class="title">Nelda Game<p>
            <p>My Stats</p>
            <p>Display Game Controls</p>
        </div>
    </section>



    <footer>
        <section class="footer">
            <p>&copy; Lost Chocobos 2023</p>
        </section>
    </footer>   
    </section>

    <script src="https://kaboomjs.com/lib/0.5.0/kaboom.js"></script>
    <script type="module" src="../controller/game.js"></script>
</body>
</html>