<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>The Legend of Nelda Game</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <section class="hero">
        <div class="main-width">
            <header>
                <img src="/img/Nelda.png" alt="Legend of Zelda Logo" width="270px" height="112px">
                    <nav>
                        <ul>
                        {{#if logged_in}}
                            <li><a class="no-button" id="logout">logout</a></li>
                        {{else}}
                            <li><a href="/login">Log In</a></li>
                            <li><a href="/signup">Signup</a></li>
                        {{/if}}
                        </ul>
                    </nav>
            </header>
        </div>
    {{{ body }}}


    <footer>
        <section class="footer">
            <p>&copy; Lost Chocobos 2023</p>
        </section>
    </footer>   
    </section>
{{#if logged_in}}
<script src="/js/logout.js"></script>
<script src="/js/game.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/3.23.0/phaser.js"></script>
{{/if}}


</body>
</html>
