
  {{#if req.session.logged_in}}
    <section class="game">
        <center><div id="gameCanvas"></div></center>
    </section>

    <section class="menu-bar">
        <div class="text">
            <p class="title">Nelda Game<p>
            <p>My Stats</p>
            <ul>
              <li><strong>Score</strong></li>
              <li id="score"></li>
              <li><strong>Lives</strong></li>
              <li id="lives"></li>
            </ul>

            <p>Display Game Controls</p>
            <ul>
            <li><strong>Move</strong></li>
            <li> ⇒ </li>
            <li><strong>Attack</strong></li>
            <li> ⇑ </li>
            </ul>
        </div>
    </section>
  {{/if}}