
  {{#if req.session.logged_in}}
    <section class="game">
        <center><div id="gameCanvas"></div></center>
        <center><h3>Defeat as many enemies as you can in 60 seconds!</h3></center>
        <center><h3>Your player will move faster after you defeat an enemy.</h3></center>
    </section>

    <section class="menu-bar">
        <div class="text"  style="display: flex; justify-content: space-around;">
            <ul>
              <p>Stats</p>
              <li><strong>High Score</strong></li>
              <li id="highScore"></li>
              <li><strong>Current Game Score</strong></li>
              <li id="score"></li>
            </ul>

            <ul>
            <p>Controls</p>
            <li><strong>Attack</strong></li>
            <li> SPACEBAR </li>
            </ul>
        </div>
    </section>
    <script type= "module" type="text/javascript" src="/js/game.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/3.23.0/phaser.js"></script>

  {{/if}}



