
    <section id="news-updates">
      
    <center><h1>Please login or signup to play the game!</h1></center>
      <table>

        <tr>
          <td>Update 1</td>
          <td>The game is live! Give it a shot and provide some feedback :)</td>
          <td>01/09/2023</td>
        </tr>
      </table>
    </section>