*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display SC', serif;
}

body{
    overflow-x: hidden;
    background-color: rgb(14,81,53);
}

.main-width{
    width: 1400px;
    max-width: 95%;
    margin: 0 auto;
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.hero header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 30px;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: 25px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transition: .4s;
}

nav ul li a:hover{
    border-bottom: 2px solid white;
    transition: .4s;
}

.game{
    margin: 0 auto;
    background: rgb(253,255,224);
    width: 1037px;
    height: 583px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

.menu-bar{
    margin: 0 auto;
    background: rgb(253,255,224);
    width: 1037px;
    height: auto;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    margin-top: 20px;
}


.title{
    font-size: 23px;
    font-weight: 600;
}


.footer p{
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}
